body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

.app {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: aliceblue;
}

h2{
  color: aliceblue;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.add-song {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.add-song h2 {
  margin-top: 0;
}

.add-song button {
  background: #6c5ce7;
  color: white;
}

.playlist {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
}

.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2a2a2a;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.song-info h3 {
  margin: 0 0 5px;
}

.song-info p {
  margin: 0;
  color: #aaa;
}

button {
  border: none;
  padding: 8px 12px;
  margin-left: 5px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.now-playing {
  background: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  text-align: center;
}

.now-playing h2 {
  margin-top: 0;
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 30px 0;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  margin-bottom: 0;
}

.search-box button {
  height: 42px;
  white-space: nowrap;
}